.comments {
  margin-top: 5px;
}

.comments__close-btn {
  display: block;
  width: 150px;
  height: 30px;
  margin-left: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.comments__list {
  height: 300px;
  margin: 0;
  padding: 10px 40px;
  list-style: none;
  overflow-y: scroll;
  border: solid 1px black;
  border-radius: 4px;
}

.comments__item {
  padding: 10px 0 15px 0;
  border-top: solid 1px black;

  &:first-child {
    border-top: none;
  }
}

.comments__author {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
}

.comments__text {
  margin: 0;
}

.comments__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments__delete-btn {
  width: 80px;
  height: 20px;
  cursor: pointer;
}

.comments__add-block {
  display: flex;
}

.comments__input {
  width: calc(100% - 100px);
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

.comments__submit-btn {
  width: 100px;
  cursor: pointer;
}
